# Node.js
node_modules/

# IDE or editor specific files
.vscode/
.idea/

# Dependency directories
# Remove the next line if you're using Yarn
npm-debug.log
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
